# Build artifacts
bin
obj
dist

# Visual Studio artifacts
.vs

# Azure Functions artifacts
csx
edge
Publish

# Node.js artifacts
node_modules

# Local settings
local.settings.json

# Other
.history/
.vscode/
.idea/